/* цвет основного текста #757575 */
/* вторичній цвет #212121 */
/* акцент цвет #2196F3 */
/* белый #FFFFFF */
/* черный #000000 */
/* color: rgba(255, 255, 255, 0.6)*/

/* Фон */
/*  шапка background: #FFFFFF */
/*  герой и футер background:  #2F303A */
/*  общий фон  background: background: #E5E5E5 */
/*  команда background: #F5F4FA */
/*  портф под фотками #FFFFFF */

/*  */
:root {
  --main-text-color: #757575;
  --title-text-color: #212121;
}

ul {
  list-style: none;
}

body {
  background-color: #e5e5e5;
  color: #757575;
  font-family: Roboto, sans-serif;
}
/* Заголовки */
.section-title {
  color: #212121;
}
/* Хедер */
/* Логотип */
.link-logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
/* Навигация */
.site-nav .link {
  color: #212121;
}
.site-nav .link:hover {
  color: #2196f3;
}
.site-nav .link:active {
  color: #2196f3;
}
/* Контакты */
.site-contact .link {
  color: #757575;
}
.site-contact .link:hover,
.site-contact .link:focus {
  color: #2196f3;
}
/* Блок герой */
.hero {
  background: #2f303a;
}
.hero-title {
  color: #ffffff;
  font-style: normal;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
}
/* Кнопка блока герой */
.button {
  background-color: #2196f3;
  color: #ffffff;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
/* Кнопки портфолио */
.button-port {
  background-color: #f5f4fa;
  color: #212121;
}
.button-port:hover,
.button-port:focus {
  background-color: #2196f3;
  color: #ffffff;
}

/* Футер */
.link-map {
  color: #ffffff;
}
.address .link {
  color: rgba(255, 255, 255, 0.6);
}
