ul {
  list-style: none;
}

body {
  background-color: #e5e5e5;
  color: #757575;
}
/* цвет основного текста #212121 */
/* вторичній цвет #757575 */
/* акцент цвет #2196F3 */
/*  черный #000000 */
/* белый #FFFFFF */

/*  шапка background: #FFFFFF */
/*  герой и футер background:  #2F303A */
/*  общий фон  background: background: #E5E5E5 */
/*  команда background: #F5F4FA */
/*  портф под фотками #FFFFFF */

/*  */
.link-logo {
  color: #2196f3;
}
